form action="/gymlog/new" method="post"
    input type="text" name="dag" placeholder="Vilket datum?"
    input type="text" name="exercise" placeholder="Vilken/vilka muskelgrupper?"
    input type="submit" value="Create log"