form action="/gymlog/new" method="post"
    input type="text" name="dag" placeholder="What date"
    input type="text" name="exercise" placeholder="What muscle group"
    input type="submit" value="Create log"