form action="/exercise/#{@result['id']}/update" method="post"

  label for="exercise" Övning
  input type="text" name="exercise" id="exercise" value=@result['exercise']
  
  input type="submit" value="Uppdatera"
